/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

h1 {
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.container {
  display: flex; /* Use flexbox to create a flexible container */
}

.column {
  flex: 1; /* Distribute the available space equally between the columns */
  padding: 20px;
  box-sizing: border-box; /* Include padding in the column's width */
}

/* Additional styling for the objects */
.object {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
}
